#logo {
    font-family: 'Great Vibes', cursive
}

.slide-background {
    object-fit: none;
    max-height: 500px;
}

.caption {
    background-color: ivory;
    opacity: 0.85;
}

.caption-text {
    color: dimgray;
    font-style: italic;
}

.section-label {
    font-family: "Great Vibes", cursive;
    font-style: normal;
}

.violet-mask {
    color: mediumvioletred;
}

.portrait {
    object-fit: fill;
    margin: 2rem 0;
}

.portrait-box {
    height: 500px;
}

/* Timeline styling */
.timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline-with-icons .timeline-item {
    position: relative;
}

.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    background-color: mediumvioletred;
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: ivory;
}

.blockquote {
    font-size: medium;
    font-style: italic;
}

.map-legend {
    list-style: none;
}

.map-legend-item {
    position: relative;
}

.map-legend .map-legend-marker {
    position: absolute;
    left: -48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parking {
    color: darkblue;
}