#logo {
    font-family: 'Great Vibes', cursive
}

.slide-background {
    object-fit: none;
    max-height: 500px;
}

.caption {
    background-color: ivory;
    opacity: 0.85;
}

.caption-text {
    color: dimgray;
}

.section-label {
    font-family: "Great Vibes", cursive;
}

.violet-mask {
    font-size: xxx-large;
    color: mediumvioletred;
}

.portrait {
    object-fit: fill;
    max-height: 300px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/*TODO - add or remove the delimiter between profiles */
.line {
    background: url("../static/images/line-divider.png") 0 no-repeat;
}

/* Timeline styling */
.timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline-with-icons .timeline-item {
    position: relative;
}

.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    background-color: hsl(217, 88.2%, 90%);
    color: hsl(217, 88.8%, 35.1%);
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}
